Minimum Edit Distance Algorithm from scratch

In [20]:
def min_Edit_Distance(str1,str2):

  T =[[0 for x in range(len(str1)+1)] for y in range(len(str2)+1)]
  for i in range(len(str1)+1):
    for j in range(len(str2)+1):
      if(i == 0 and j == 0 ):
        T[i][j] = 0

      elif (i == 0):
        T[i][j] = T[i][j-1] +1

      elif (j == 0):
        T[i][j] = T[i-1][j] +1

      else:
        if (str1[i-1] == str2[j-1]):
          T[i][j] = T[i-1][j-1]

        else:
          T[i][j] = 1 + min(T[i][j-1], T[i-1][j-1], T[i-1][j]) # min ( insertion , replace, remove)

  return T

In [21]:
str1 = "abcfg"
str2 = "adceg"
T = min_Edit_Distance(str1, str2)

In [22]:
print(T[1][5])

4